// <script src="https://cdn.jsdelivr.net/npm/fuse.js@7.0.0"></script>
<script src="/assets/fuseindex.js"></script>

<script>
  // Adapted from https://www.fusejs.io/demo.html
  var runSearch = function() {
    var i, item;

      const fuseOptions = {
          ignoreLocation: true,
          threshold: 0.1,
          keys: [
              "filename",
              "ciconum",
              "section_number", 
              "author",
              "title",
              "people",
              "orgs",
              "languages",
              "dates",
              "places",
              "keywords",
          ],
    };

    // Clear the previous results
    var searchResultsDiv = document.getElementById("searchResults");
    searchResultsDiv.innerHTML = "";

    // Run the search
    const fuse = new Fuse(searchIndex, fuseOptions);
    const searchTerms = document.getElementById("searchTerms").value;
    const results = fuse.search(searchTerms);
    if (results.length == 0) {
      searchResultsDiv.innerHTML = `<p>No results were found for ${searchTerms}</p>`;
      return;
    }

    // Display the total number of results found
    var totalsEl = document.createElement("p");
    totalsEl.textContent = `${results.length} results were found`;
    searchResultsDiv.appendChild(totalsEl);

    // Loop through results and add them to the page
    for(i = 0; i < results.length; i++) {
      var result = results[i].item;
      var section = document.createElement("section");
      section.setAttribute("class", "catalogo-item");
      searchResultsDiv.appendChild(section);

      var ciconum = document.createElement("span");
      ciconum.setAttribute("class", "catalogo-item-label");
      ciconum.appendChild(document.createTextNode(result.ciconum[0] + ". "));
      section.appendChild(ciconum);

      var bibl = document.createElement("span");
      bibl.setAttribute("class","catalogo-bibl");
      section.appendChild(bibl);

      if(result.author[0]) {
        var author = document.createElement("span");
        author.setAttribute("class", "catalogo-author");
        author.appendChild(document.createTextNode(result.author[0]));
        bibl.appendChild(author);
        bibl.appendChild(document.createTextNode(", "));
      }

      var title = document.createElement("span");
      title.setAttribute("class", "catalogo-title");
      var titleLink = document.createElement("a");
      titleLink.href = `/catalogo/${result.filename}`;
      titleLink.text = result.title[0];
      title.appendChild(titleLink);
      if(!result.title[0].endsWith(",")) {
        title.appendChild(document.createTextNode(","));
      }
      title.appendChild(document.createTextNode(" "));
      bibl.appendChild(title);

      if (result.places[0]) {
        var place = document.createElement("span");
        place.setAttribute("class", "catalogo-pubPlace");
        place.appendChild(document.createTextNode(result.places[0]));
        bibl.appendChild(place);
        bibl.appendChild(document.createTextNode(" "));
      }

      var date = document.createElement("span");
      date.setAttribute("class", "catalogo-date");
      date.appendChild(document.createTextNode(result.dates[0]));
      bibl.appendChild(date);

      var catalogoBrowseButton = document.createElement("div");
      catalogoBrowseButton.setAttribute("class", "catalogo-browse-button");
      var catalogoBrowseLink = document.createElement("a");
      catalogoBrowseLink.href = `/catalogo/#item_${result.ciconum[0]}`;
      catalogoBrowseLink.text = "Browse full catalogo";
      catalogoBrowseButton.appendChild(catalogoBrowseLink);
      bibl.appendChild(catalogoBrowseButton);

    }
  }

  // Wire the search button to run the serch
  document.getElementById("searchButton").addEventListener("click", (event) => {
    runSearch();
  });

  // Wire the enter key on the search textbox to run the search
  // Source https://stackoverflow.com/a/46063448/446681
  document.getElementById("searchTerms").addEventListener("keyup", (event) => {
    if (event.key === "Enter") {
      runSearch();
    }
  });

  // Give the focus to the search box
  document.getElementById("searchTerms").focus();

  // Execute search if there is a querystring
  const searchQuery = new URLSearchParams(window.location.search).get('q');
  if (searchQuery != "") {
    document.getElementById("searchTerms").value = searchQuery;
    runSearch();
  }

</script>
